/* Start FAQ hero section  */
.questions {
  height: 36rem; 
  margin: 0 auto; 
  background: linear-gradient(rgba(30, 30, 30, 0.578), rgba(30, 30, 30, 0.578)),
    url("/FAQ/images/questions3.jpg") center/cover no-repeat;
  color: var(
    --white-color
  ); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.questions h4 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.questions p {
  font-size: 7rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.questions p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/** End FAQ hero section */

/* questions section  */
.questions-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* align-items: start; */
  margin-top: 5rem;
}

.title {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
}
.feq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000000;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: large;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6rem;
  font-size: large;
}

.feq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.feq.active svg {
  transform: rotate(180deg);
}
svg {
  transition: transform 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.left-column {
  width: 40%; /* Adjust the width as needed */
  padding: 2rem;
  margin-top: 3rem;
  font-size: large;
}

.right-column {
  width: 60%; /* Adjust the width as needed */
  padding: 2rem;
}

/*End  questions section  */

/** Start Media Query */

@media (max-width: 980px) {
  .container {
    width: 98rem;
  }
}

@media (max-width: 890px) {
  html {
    font-size: 55% !important;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 54% !important;
  }
  .questions-section {
    flex-direction: column;
  }
  .left-column {
    width: 100%;
  }
  .right-column {
    width: 100%;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 50% !important;
  }
}

/** End Media Query */
