.form {
  width: 400px;
  height: 600px;
  position: relative;
  background: var(--secondary-color);
  margin: 6% auto;
  padding: 5px;
  overflow: hidden;
  border: 1px solid white;
  /* border-radius: 3rem; */
  box-shadow: 10px 10px 10px 0px grey; /* Adjust the shadow properties as needed */
}

.button {
  width: 264px;
  margin: 40px 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  /* box-shadow: 5px 5px 5px  px var(--white-color); */
  letter-spacing: 1px;
  /* border-radius: 30px; */
}

.toggle-btn {
  padding: 10px 27px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  transition: 0.7s ease;
  font-size: 2.3rem;
  color: var(--white-color);
}

.toggle-btn:hover {
  transform: scale(1.1);
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 120px;
  height: 100%;
  background: var(--primary-color);
  font-weight: 600;
  transition: 0.5s;
}

.validation-error {
  background: red;
}

.socials a {
  color: linear-gradient(to right, #574e50, #574e50);
  font-size: 1.5em;
  margin-left: 73px;
  justify-content: space-between;
}

/* .group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  ;
} */

.group {
  top: 25%; /* Adjust the positioning */
  position: absolute;
  width: 280px;
  transform: translate(10%);
  left: 50%;
  transition: 0.5s;
  color: white;
  text-align: center;
}
.popup {
  display: none;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.popup.success {
  background-color: #4caf50; /* Green for success */
}

.popup.error {
  background-color: red; /* Red for error */
}

.input {
  width: 100%;
  padding: 0px 0;
  margin: -4px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: black;
}
.input,
span,
.submit {
  font-size: 20px;
}

input::placeholder {
  color: black;
}

.submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  background: var(--primary-color);
  font-weight: 600;
  border: 0;
  color: var(--white-color);
  outline: none;
  box-shadow: 0 0.9rem 3rem 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.submit:hover {
  background-color: #000;
  color: var(--white-color);
}
.remember-group {
  text-align: left;
  margin-top: 15px;
}

/* .checkbox{
    margin: 30px 10px 30px 0;
    display: inline-block;
    margin-right: 5px;
  } */
span {
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  font-size: 14px;
}
p {
  /* color: #ffffff;
    font-size: 12px;
    display: inline-block;
    font-size: 14px; 
    text-align: left; 
    margin: 15px 0;  */
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  color: #ffffff;
}
#login {
  left: 50px;
}
#register {
  left: 500px;
}

.form-control {
  font-size: 2rem;
}
.btn {
  font-size: 2rem;
}
.container {
  font-size: 2rem;
}
.row {
  font-size: 2rem;
}
i {
  font-size: 2.5rem;
}
.col-md-12 {
  font-size: 2rem;
}
.follow {
  font-size: rem;
}
h5 {
  font-size: 3rem;
}
